<div class="row mb-1">
	<div class="col"><label>Nombre del Curso:</label></div>
	<div class="col">{{form.titulo}}</div>
</div>
<div class="row mb-1">
	<div class="col"><label>Descripcion del Curso:</label></div>
	<div class="col">{{form.descripcion}}</div>
</div>
<div class="row mb-1">
	<div class="col"><label>Logo del Curso:</label></div>
	<div class="col">{{form.avatar}}</div>
</div>
<div class="row mb-1">
	<div class="col"><label>Disciplina del Curso:</label></div>
	<div class="col">{{form.disciplina}}</div>
</div>
<div class="row mb-3">
	<div class="col"><label>Precio del Curso:</label></div>
	<div class="col">{{form.precio}}</div>
</div>
<div class="row mb-5">
	<input class="col btn btn-primary" type="submit" value="Grabar">
</div>