{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}


<div class="container">
	<div class="row mb-4">
		<div class="col">
			<h1>Restauracion de clave</h1>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col">
			<div class="container">
				<div class="row">
					<div class="col">
						<p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y
							le enviaremos por correo electrónico las instrucciones para establecer una nueva.
						</p>
					</div>
				</div>
				<form action="." method="POST">
					{% csrf_token %}
					<div class="row mb-4">
						<div class="col-6">
							<label for="id_email">Correo electrónico:</label>
						</div>
						<div class="col-6">
							<input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
						</div>
					</div>
					<div class="row mb-4">
						<input class="col btn btn-primary" type="submit" value="Enviar">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



{% endblock %}

