{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}

<div class="container">
	<div class="row mb-5 mt-4"><h1>Restauracion de la clave</h1></div>
	<div class="row mb-4">
			<div class="col">
				Por favor introduzca una nueva contraseña dos veces de manera que podamos verificar que la ha escrito correctamente</div>
	</div>
	<div class="row">
		<div class="col">
			<form action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="container">
					<div class="row mb-3">
						<div class="col-4">
							<label for="id_new_password1">Nueva contraseña:</label>
						</div>
						<div class="col-8">
							<input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-4">
							<label for="id_new_password2">Confirme contraseña:</label>
						</div>
						<div class="col-8">
							<input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
						</div>
					</div>
					<div class="row mb-4"><input class="col btm btn-primary" type="submit" value="Cambiar mi contraseña"></div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
